<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deaf mute convo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="result predict.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
		<h1 class="welcome">SIGN LANGUAGE</h1>
                <h2 class="logo">SIGN LANGUAGE COMMUNICATION</h2>
            </div>
		        <u1>
		            <li><a href="home">HOME</a></li>
		            <li><a href="register.html">REGISTER</a></li>
		            <li><a href="login.html">SIGN-IN</a></li>
                    
		</u1>
		
            <div class="container">
              <button onclick="document.location='login.html'">Login</button>
              <button onclick="document.location='register.html'">Register</button>
            </body>
</html>
